[Unit]
Description=Hadoop resourcemanager
After=network.target network-online.target

[Service]
User=yarn
Group=hadoop
Type=fork
ExecStart=/usr/local/hadoop/current/bin/yarn resourcemanager
Restart=on-failure

[Install]
WantedBy=multi-user.target
